{% extends 'base.html.twig' %}

{% block title %}Register | IGN2P{% endblock %}

{% block body %}
<div>
	{% if error %}
		<div id="errorMessage" class="flex justify-center">
			<div class="flex justify-between p-4 top-0 bg-red-400 text-white md:w-2/3 w-screen -mt-4 rounded-b-md">
				<div>{{ error }}</div>
				<button class="material-icons" onclick="closeErrorMessage();">close</button>
			</div>
		</div>
	{% endif %}
	<form method="post">
		<div class="flex flex-col h-screen justify-center content-center items-center -mt-24">
			<a href="/" class="flex justify-center items-center">
				<img src="/images/icon.png" alt="LOGO" class="w-12">
			</a>
			<div class="text-4xl md:text-6xl">Register</div>
			<div class="w-full md:w-auto flex flex-col">
				<div class="text-lg pt-8">Email</div>
				<input type="email" name="registration_form[email]" class="border-2 border-gray-200 active:border-gray-400" autocomplete="email" required autofocus>
			</div>
			<div class="w-full md:w-auto flex flex-col">
				<div class="text-lg pt-4">Password</div>
				<input type="password" name="registration_form[plainPassword]" class="border-2 border-gray-200 active:border-gray-400" autocomplete="new-password" required>
			</div>

			{{ form_row(form._csrf_token) }}

			<div class="pt-4">
				<button class="p-2 px-8 text-white border-2 border-purple-700 rounded-lg bg-purple-600 hover:bg-purple-700" type="submit">Register</button>
			</div>
		</div>
	</form>
</div>
{% endblock %}