{% extends 'base.html.twig' %}

{% block title %}New Plattforms{% endblock %}

{% block body %}
    <h1>Create new Plattforms</h1>

    {{ include('plattforms/_form.html.twig') }}

    <a href="{{ path('plattforms_index') }}">back to list</a>
{% endblock %}
