{% extends 'base.html.twig' %}

{% block title %}Add Game | IGN2P{% endblock %}

{% block body %}
	<div class="flex flex-row justify-between border-b-2 pb-4 py-2 px-4">
		<a href="{{ path('homepage') }}">
			<img src="{{ asset('/images/logo.png') }}" alt="LOGO" class="h-8 w-auto mr-2">
		</a>
		<div class="text-4xl">Add Game</div>
		<div class="flex">
			<a class="btn" href="{{ path('games_index') }}">Take me back</a>
		</div>
	</div>
	<div class="flex justify-center">
		<div class="w-full max-w-4xl text-start">
			{{ include('games/_form.html.twig') }}
		</div>
	</div>

{% endblock %}
