<nav id="navigation" class="bg-white shadow-lg px-16 py-6">
	<div class="flex justify-between">
		<a href="/" class="flex items-center">
			<img src="/images/logo.png" alt="LOGO" class="h-8 w-auto mr-2">
		</a>
		<div class="hidden md:flex items-center">
		{% if app.user %}
			<div class="lg:px-4 px-2 text-lg lg:text-xl antialiased">
				<a href="/games" class="hover:duration-150 hover:scale-105 hover:text-purple-700">Games</a>
			</div>
			<div class="lg:px-4 px-2 text-lg lg:text-xl antialiased">
				<a href="/logout" class="hover:duration-150 hover:scale-105 hover:text-purple-700">Logout</a>
			</div>
		{% else %}
			<div class="lg:px-4 px-2 text-lg lg:text-xl antialiased">
				<a href="/login" class="hover:duration-150 hover:scale-105 hover:text-purple-700">Login</a>
			</div>
			<div class="lg:px-4 px-2 text-lg lg:text-xl antialiased">
				<a href="/register" class="p-2 text-white border-2 border-purple-700 rounded-lg bg-purple-600 hover:bg-purple-700">Sign Up</a>
			</div>
			{% endif %}
		</div>

		<!-- Mobile menu button -->
		<div class="md:hidden flex items-center">
			<button class="outline-none" onclick="toggleNav()">
				<svg class="w-6 h-6 text-gray-500"
					x-show="!showMenu"
					fill="none"
					stroke-linecap="round"
					stroke-linejoin="round"
					stroke-width="2"
					viewBox="0 0 24 24"
					stroke="currentColor">
					<path d="M4 6h16M4 12h16M4 18h16"></path>
				</svg>
			</button>
		</div>
	</div>
	<!-- mobile menu -->
	<div id="mobile-menu" class="hidden w-full h-screen">
		<ul class="flex flex-col h-screen py-20">
			{% if app.user %}
			<li class="flex justify-center py-8">
				<a href="/games" class="text-xl transition duration-300">Games</a>
			</li>
			<li class="flex justify-center py-8">
				<a href="/logout" class="text-xl transition duration-300">Logout</a>
			</li>
			{% else %}
			<li class="flex justify-center py-8">
				<a href="/login" class="text-xl transition duration-300">Login</a>
			</li>
			<li class="flex justify-center py-8">
				<a href="/register" class="text-xl transition duration-300">Sign Up</a>
			</li>
			{% endif %}
		</ul>
	</div>
	<script>
		let isVisible = false;
		const toggleNav = (() => {
			// Make the mobile menu visible and hide the main-container as well as the footer.
			// Container and footer are both defined in the layouts.master file.
			isVisible = !isVisible;
			document.getElementById("mobile-menu").classList.toggle("hidden");
			document.getElementById("main-container").classList.toggle("hidden");
			document.getElementById("footer").classList.toggle("hidden");
		});

		// Prevent the navbar from still existing when the switch to the "full-screen-bar" happens.
		// We check if the width is bigger or equal 768 and the navbar is shown (isVisible),
		// if this is the case, we trigger the toggleNav function so the navbar closes and all elemnts are shown again.
		window.addEventListener('resize', () => {
			if (window.innerWidth >= 768 && isVisible) {
				toggleNav();
			};
		});
	</script>
</nav>
