{% extends 'base.html.twig' %}

{% block title %}Edit Developers{% endblock %}

{% block body %}
    <h1>Edit Developers</h1>

    {{ include('developers/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('developers_index') }}">back to list</a>

    {{ include('developers/_delete_form.html.twig') }}
{% endblock %}
